@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
/* header section */
#header .header {
  background-image: url("../images/bg-pattern-intro-mobile.svg");
  background-size: 300%;
  background-position: center;
  background-color: hsl(353, 100%, 62%);
  flex-direction: column;
  border-radius: 0px 0px 0px 100px;
}
#header .header-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
  margin-top: 50px;
}
#header .header .site-left {
  display: flex;
  width: 100vw;
  height: auto;
  top: 0;
  justify-content: space-between;
  width: 100vw;
}
#header .header .site-left .site-logo {
  margin-left: 30px;
  cursor: pointer;
}
#header .header .site-left .hamburger-menu {
  background-image: url("../images/icon-close.svg");
  margin-right: 40px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
#header .header .site-left .hamburger-menu.active {
  background-image: url("../images/icon-hamburger.svg");
}
/* site-nav menu */
#header .header .site-left .site-nav {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 500px;
  text-align: left;
  position: absolute;
  left: 9.4rem;
  margin-top: 10px;
  border-radius: 10px;
}
#header .header .site-left .site-nav.active {
  display: none;
}
#header .header .site-left .site-nav a {
  text-decoration: none;
  color: hsl(237, 23%, 32%);
  font-family: ubuntu;
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
  margin: 5px 25px;
}
#header .header .site-left .site-nav .nav-header {
  margin-bottom: 0px;
}
#header .header .site-left .site-nav .the-shifters {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: auto;
}
#header .header .site-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 20vh;
}
#header .header .site-right .login {
  display: none;
}
#header .header .site-right .sign-up {
  display: none;
}
#header .header-body {
  width: auto;
  height: auto;
}
#header .header-body .h-body-top h1 {
  color: white;
  font-family: overpass;
  font-size: 2.5rem;
  font-weight: 300;
  width: 350px;
  text-align: center;
  margin-bottom: 15px;
}
#header .header-body .h-body-top p {
  color: white;
  font-family: overpass;
  width: 300px;
  text-align: center;
  line-height: 1.7rem;
  font-size: 1.1rem;
  margin-bottom: 60px;
}
#header .header .h-body-bottom {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  height: auto;
  box-sizing: border-box;
  margin: auto;
}
#header .header .h-body-bottom .btn a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: ubuntu;
  border: 2px solid whitesmoke;
  padding: 10px;
  border-radius: 20px;
  font-weight: 700;
  transition: 1s ease-in-out background-color;
  transition: 1s ease-in-out color;
  transition-delay: 0.5s all;
}
#header .header .h-body-bottom .btn a:hover {
  color: hsl(353, 100%, 62%);
  background-color: whitesmoke;
}
/* body section */
#design .design {
  flex-direction: column;
  height: auto;
}
#design .design p {
  font-size: 0.8rem;
  width: 45.86vw;
  text-align: center;
  font-family: ubuntu;
  color: hsl(240, 2%, 79%);
}
#design .design-head-text h1 {
  width: auto;
  margin: auto;
  text-align: center;
  padding-bottom: 15px;
  font-family: ubuntu;
  font-size: 1.3rem;
  color: hsl(237, 23%, 32%);
}

#design .design-head-text {
  margin: 50px 0px;
}

#design .design-head-text p {
  font-family: ubuntu;
}
#design .first-design-body {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
#design .design-body-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  width: 100vw;
}
#design .design-body-text-one {
  font-family: overpass;
  margin-bottom: 30px;
  height: auto;
}
#design .design-body-text h1 {
  width: 150px;
  margin: auto;
  text-align: center;
  padding-bottom: 15px;
  color: hsl(237, 23%, 32%);
}
#design .design-body-text p {
  font-size: 0.8rem;
  font-weight: 500;
  width: 45.86vw;
  text-align: center;
}
#design .design-body-text-two p {
  padding-bottom: 15px;
}
#design .design-body-text-two h1 {
  font-family: ubuntu;
  font-size: 1rem;
  color: hsl(237, 23%, 32%);
}
#design .second-design-body {
  display: flex;
  height: 400px;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}
#design .second-design-body::after {
  width: 100%;
  height: 80%;
  content: " ";
  background-color: hsl(240, 10%, 16%);
  position: absolute;
  bottom: 0;
  background-image: url("../images/bg-pattern-circles.svg");
  background-size: 250%;
  background-position: bottom center;
  z-index: -1;
  padding-top: -50px;
  border-radius: 0px 40px;
}
#design .second-design-body img {
  width: auto;
  height: 200px;
}
#design .second-design-text {
  width: 200px;
  height: auto;
  margin: auto;
  text-align: center;
}
#design .second-design-text h1 {
  margin: auto;
  width: 200px;
  margin-bottom: 10px;
  color: white;
  font-family: ubuntu;
  font-size: 1.15rem;
  line-height: 1.7rem;
  /*color: hsl(237, 23%, 32%);*/
}
#design .second-design-text p {
  margin: auto;
  width: 200px;
  font-size: 0.75rem;
  padding: 10px;
}
/*third design section */
#design .third-design-body {
  height: auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#design .third-design-text {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#design .third-design-text h1 {
  text-align: center;
  font-family: ubuntu;
  margin-top: 15px;
  font-size: 1.1rem;
  color: hsl(237, 23%, 32%);
}
#design .third-design-text p {
  margin-top: 15px;
  margin-bottom: 10px;
}
/* Footer Section */
#footer .footer {
  flex-direction: column;
  width: 100vw;
  height: auto;
  margin: 50px 0px;
}
#footer .footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 450px;
  background-color: hsl(240, 10%, 16%);
  border-radius: 0px 50px 0px 0px;
}
#footer .footer-logo {
  margin-bottom: 20px;
}
#footer .footer-nav-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
#footer .footer-nav-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
#footer .footer-nav-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer a {
  color: hsl(207, 13%, 34%);
  text-decoration: none;
  font-family: ubuntu;
  margin-bottom: 5px;
  font-size: 0.8rem;
  transition: 0.5s ease-in-out color;
  transition-delay: 0.1s;
}
#footer a:hover {
  color: white;
}
/* Media queries */
@media (min-width: 1200px) {
  * {
    box-sizing: border-box;
  }
  #header .header {
    width: 100vw;
  }
  #header {
    width: 100vw;
  }
  #header .header-head {
    width: 100vw;
    margin-bottom: 150px;
  }
  #header .hamburger-menu {
    display: none;
  }
  #header .header .site-left {
    margin: auto;
    width: 100vw;
  }
  #header .header .site-left .site-logo {
    width: 40vw;
    margin-left: 200px;
  }
  /* site navigation menu*/
  #header .header .site-left .site-nav {
    display: inline-flex;
    width: auto;
    height: auto;
    margin-top: 0px;
    background-color: transparent;
    flex-direction: row;
    top: 3.5rem;
    left: 22rem;
  }
  #header .header .site-left .site-nav .shifter {
    color: hsl(207, 13%, 34%);
    margin: auto;
    padding: 10px;
  }
  #header .header .site-left .site-nav .nav1 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  /*#header .header .site-left .site-nav .nav1::after {
    content: "";
    width: 120px;
    height: 180px;
    background-color: white;
    position: absolute;
  }
  */
  #header .header .site-left .site-nav .nav2 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  /*#header .header .site-left .site-nav .nav2::after {
    content: "";
    width: 120px;
    height: 180px;
    background-color: white;
    position: absolute;
    display: none;
  }
  */
  #header .header .site-left .site-nav .nav3 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  /*#header .header .site-left .site-nav .nav3::after {
    content: "";
    width: 120px;
    height: 180px;
    background-color: white;
    position: absolute;
    display: none;
  }
  */
  #header .header .site-left .site-nav a {
    color: white;
    font-family: ubuntu;
    text-decoration: none;
    margin: 3px;
  }
  #header .header .site-left .site-nav .the-shifters {
    background-color: white;
    border-radius: 5px;
  }
  #header .header .site-left .site-nav .the-shifters a:hover {
    font-weight: bolder;
  }
  #header .header .site-left .site-nav .shifter1 {
    display: none;
  }
  #header .header .site-left .site-nav .shifter2 {
    display: none;
  }
  #header .header .site-left .site-nav .shifter3 {
    display: none;
  }
  #header .header .site-left .site-nav .nav1:hover .shifter1 {
    display: block;
    width: auto;
    height: auto;
  }
  #header .header .site-left .site-nav .nav2:hover .shifter2 {
    display: block;
    width: auto;
    height: auto;
  }
  #header .header .site-left .site-nav .nav3:hover .shifter3 {
    display: block;
    width: auto;
    height: auto;
  }

  /*#header .header .site-left .nav-header:hover {
    text-decoration: underline;
  }*/
  #header .header .site-left .shifter {
    margin-bottom: 10px;
  }
  #header .header-head {
    flex-direction: row;
  }
  #header .header .site-right {
    display: flex;
    width: auto;
    height: auto;
    top: 0;
    width: auto;
    flex-direction: row;
    padding-right: 100px;
  }
  #header .header .site-right .login {
    display: inline-flex;
    width: 150px;
  }
  #header .header .site-right .sign-up {
    display: inline-flex;
    width: 150px;
  }
  #header .header a {
    text-decoration: none;
    color: white;
    font-family: ubuntu;
    width: auto;
  }
  #header .header .site-right a {
    width: auto;
    font-size: 1.2rem;
  }
  #header .header .site-right a:hover {
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    color: hsl(13, 100%, 72%);
  }
  /* header body section */
  #header .header .header-body .h-body-top h1 {
    width: auto;
  }
  #header .header .header-body .h-body-top p {
    width: auto;
  }
  /* Design section */
  #design .design .first-design-body {
    flex-direction: row;
    width: 100vw;
  }
  #design .design .first-design-body .design-body-text {
    text-align: left;
  }
  #design .design .first-design-body .design-body-text p {
    text-align: left;
    width: 40vw;
  }
  #design .design .first-design-body .design-body-text h1 {
    text-align: left;
    width: auto;
  }
  /* Second design */
  #design .design .second-design-body {
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
  }
  #design .design .second-design-body .second-design-text {
    width: 50vw;
    text-align: left;
  }
  #design .design .second-design-body .second-design-text p {
    text-align: left;
    width: 30vw;
  }
  #design .design .second-design-body .second-design-text h1 {
    width: 28.5vw;
    text-align: left;
  }
  #design .design .second-design-body .second-design-image {
    width: 50vw;
    height: auto;
  }
  #design .design .second-design-body .second-design-image img {
    width: auto;
    height: 400px;
    margin-left: 100px;
    right: 600px;
    position: absolute;
    top: 0;
  }
  #design .second-design-body::after {
    height: 70%;
    top: 50px;
    background-position: center bottom;
    background-size: cover;
  } /* Third Design */
  #design .third-design-body {
    flex-direction: row;
    width: 100vw;
  }
  #design .third-design-body .third-design-image {
    flex-basis: 50vw;
    overflow-x: hidden;
    position: relative;
    height: auto;
    width: 50vw;
    padding-right: 400px;
    height: 400px;
  }
  #design .third-design-body .third-design-image img {
    width: auto;
    height: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 400px;
  }
  #design .third-design-body .third-design-text {
    flex-basis: 50vw;
    text-align: left;
  }
  #design .design .third-design-body .third-design-text p {
    text-align: left;
    width: 30vw;
  }
  #design .design .third-design-body .third-design-text h1 {
    width: 28.5vw;
    text-align: left;
  }
  /* footer section */
  #footer .footer {
    flex-direction: row;
    width: 100vw;
    height: auto;
  }
  #footer .footer-nav {
    flex-direction: row;
    width: 100vw;
    height: auto;
    position: relative;
    justify-content: space-between;
  }
  #footer .footer-nav-item {
    display: flex;
    width: 50vw;
    justify-content: space-between;
    margin-right: 80px;
  }
  #footer .footer-nav-item a {
    text-align: left;
    width: 100px;
  }
  #footer .footer-nav-one {
    width: 30%;
    margin-top: 20px;
  }
  #footer .footer-nav-two {
    width: 30%;
  }
  #footer .footer-nav-three {
    width: 30%;
    height: auto;
    margin-bottom: 35px;
    text-align: left;
    align-items: left;
  }
  #footer .head {
    font-size: 0.8rem;
    color: white;
  }
  #footer .footer-logo {
    width: 50vw;
    /*position: relative;*/
  }
  #footer .footer-logo img {
    width: auto;
    left: 200px;
    position: absolute;
    top: 0;
    margin-top: 20px;
  }
} ;
